---
import MainLayout from '../../layouts/MainLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post
    }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={post.data.title}>
    <div class="grid grid-cols-[auto] justify-center mb-4">
        <img src={post.data.image} class="rounded-md w-[720px]" />
        <small class="text-zinc-500">{post.data.imageCredit}</small>
    </div>
    <header class="mb-4">
        <h2 class="text-4xl font-bold">{post.data.title}</h2>
        <div class="text-lg">
            Posted by {post.data.author || 'Joe Attardi'} on <FormattedDate date={post.data.pubDate} />
        </div>
    </header>
    <div
        class:list={[
            'mx-auto',
            'prose-lg prose-h1:font-bold prose-h1:text-3xl prose-pre:w-full prose-ul:list-disc prose-ol:list-decimal',
            'prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl',
            'dark:prose-invert'
        ]}
    >
        <Content />
    </div>
</MainLayout>
