---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import MainLayout from '../../layouts/MainLayout.astro';
import Card from '../../components/Card.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import PaginationLink from '../../components/PaginationLink.astro';

export const getStaticPaths = (async ({ paginate }) => {
    const posts = (await getCollection('blog')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );

    return paginate(posts, {
        pageSize: 6
    });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Blog">
    <h2 class="text-4xl mb-4">Blog</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
            page.data.map((post) => (
                <Card>
                    <h3 class="text-2xl text-blue-800 dark:text-blue-400">
                        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                    </h3>
                    <div class="text-zinc-600 dark:text-zinc-400">
                        <FormattedDate date={post.data.pubDate} />
                    </div>
                    <p>{post.data.description}</p>
                    <a
                        href={`/blog/${post.slug}`}
                        class="mt-4 flex items-center gap-2 text-blue-800 dark:text-blue-400"
                    >
                        Read more
                        <Icon name="ph:arrow-right" />
                    </a>
                </Card>
            ))
        }
    </div>
    <div class="grid grid-cols-2 my-4">
        <div class="justify-self-start">
            {
                page.url.prev ? (
                    <PaginationLink href={page.url.prev}>
                        <Icon name="ph:arrow-left" />
                        Previous
                    </PaginationLink>
                ) : null
            }
        </div>
        <div class="justify-self-end">
            {
                page.url.next ? (
                    <PaginationLink href={page.url.next}>
                        Next <Icon name="ph:arrow-right" />
                    </PaginationLink>
                ) : null
            }
        </div>
    </div>
    <div class="flex justify-center">
        <a href="/rss.xml" class="flex items-center gap-2">
            <Icon name="ph:rss-fill" class="text-lg text-orange-500" />
            <div class="text-sm">Subscribe via RSS</div>
        </a>
    </div>
</MainLayout>
