---
import { Image } from 'astro:assets';

const { cover, title, published, href } = Astro.props;
---
<a class="flex flex-col items-center gap-4" href={href}>
  <Image 
    src={cover} 
    alt={title}
    class="w-48 shadow-lg hover:rotate-2 hover:scale-105 ease-out transition-transform"
  />
  <div class="flex flex-col items-center">
    <div class="italic">{title}</div>
    <small>{published}</small>
  </div>
</a>
