---
import RootLayout from '../layouts/RootLayout.astro';
import avatar from '../assets/images/joe.png';
import oreillyLogo from '../assets/images/OReilly_logo_rgb.png';
import apressLogo from '../assets/images/Apress-logo.png';
import smashingLogo from '../assets/images/smashingmagazine.png';
import logrocketLogo from '../assets/images/logrocket.png';
import freecodecampLogo from '../assets/images/freecodecamp.png';
import { Image } from 'astro:assets';
import PublisherLogo from '../components/PublisherLogo.astro';
import SocialLink from '../components/SocialLink.astro';
---

<RootLayout>
    <div class="layout p-8">
        <h1
            class="title font-bold text-5xl md:text-6xl font-serif justify-self-center md:justify-self-start"
        >
            Joe Attardi
        </h1>
        <div class="description flex flex-col gap-4">
            <p class="text-xl">
                I'm a software engineer with a deep love for the modern JavaScript ecosystem. I
                spend my days building functional web applications and my nights staying ahead of
                the ever-evolving web.
            </p>
            <p class="text-xl">
                Beyond the code, I'm also a published author, sharing my insights and experiences
                through writing. Whether it's crafting engaging articles or contributing to
                open-source projects, I enjoy connecting with the developer community and helping
                others navigate the complexities of web development.
            </p>
        </div>
        <div class="photo flex flex-col items-center gap-4">
            <Image
                class="justify-self-center w-48 h-48 md:w-72 md:h-72 rounded-full border-8 border-slate-600"
                src={avatar}
                alt="Photo of Joe Attardi"
            />
            <div class="flex items-center gap-2">
                <SocialLink icon="fa7-brands:x-twitter" href="https://x.com/joeattardi" title="X" />
                <SocialLink icon="fa7-brands:linkedin" href="https://www.linkedin.com/in/joeattardi/" title="LinkedIn" />
                <SocialLink icon="fa7-brands:github" href="https://github.com/joeattardi" title="GitHub" />
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4 items-center bg-white p-4 rounded-lg border border-slate-300">
        <p class="uppercase tracking-wider text-sm text-slate-600 font-bold">Published with</p>
        <div class="flex flex-wrap gap-8 items-center justify-center">
            <PublisherLogo
                imageUrl={oreillyLogo}
                alt="O'Reilly Media"
                href="https://learning.oreilly.com/search/?q=author%3A%22Joe%20Attardi%22&order_by=relevance&rows=100&language=en"
            />
            <PublisherLogo
                imageUrl={apressLogo}
                alt="Apress"
                href="https://link.springer.com/search?contributor=Joe+Attardi&sortBy=newestFirst"
            />
            <PublisherLogo
                imageUrl={smashingLogo}
                alt="Smashing Magazine"
                href="https://www.smashingmagazine.com/author/joe-attardi/"
            />
            <PublisherLogo
                imageUrl={logrocketLogo}
                alt="LogRocket"
                href="https://blog.logrocket.com/author/joeattardi/"
            />
            <PublisherLogo
                imageUrl={freecodecampLogo}
                alt="freeCodeCamp"
                href="https://www.freecodecamp.org/news/author/joeattardi/"
            />
        </div>
    </div>
</RootLayout>

<style>
    .layout {
        display: grid;
        grid-template-areas:
            'title photo'
            'description photo';
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        gap: 1rem;
        column-gap: 4rem;
    }

    .title {
        grid-area: title;
    }

    .description {
        grid-area: description;
    }

    .photo {
        grid-area: photo;
    }

    @media (max-width: 768px) {
        .layout {
            grid-template-areas:
                'photo'
                'title'
                'description';
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
    }
</style>
