---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import ProjectCard from '../components/projects/ProjectCard.astro';
import webApiDemoImage from '../images/projects/web-api-demos.png';
import jsonColorizerImage from '../images/projects/json-colorizer.png';
import picmoImage from '../images/projects/picmo.png';
import svelteToastImage from '../images/projects/svelte-toast.png';
import urlScrubImage from '../images/projects/urlscrub.png';
---

<MainLayout title="Projects">
    <h2 class="text-4xl">Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
        <ProjectCard name="Web API Demos" url="https://webapis.info/examples">
            <div class="flex items-start">
                <p class="flex-grow">
                    A collection of demos and sample code from my book, <a
                        href="/books/web-api-cookbook">Web API Cookbook</a
                    >. Covers web animations, speech recognition, DOM observers,
                    and more.
                </p>
            </div>
            <Image
                src={webApiDemoImage}
                class="hidden sm:block w-64"
                alt="Web API Demos"
            />
        </ProjectCard>
        <ProjectCard name="URL Scrub" url="https://urlscrub.com">
            <p>
                A tool for building and cleaning URLs. Use the visual URL
                builder, or paste in a URL and automatically remove tracking
                parameters to protect your privacy.
            </p>
            <Image
                src={urlScrubImage}
                class="hidden sm:block w-64"
                alt="URL Scrub screenshot"
            />
        </ProjectCard>
        <ProjectCard
            name="json-colorizer"
            url="https://npmjs.com/package/json-colorizer"
        >
            <p>
                An npm package to pretty-print JSON data with syntax
                highlighting.
            </p>
            <Image
                src={jsonColorizerImage}
                class="hidden sm:block w-64"
                alt="json-colorizer output"
            />
        </ProjectCard>
        <ProjectCard
            name="promise-poller"
            url="https://npmjs.com/package/promise-poller"
        >
            <p>
                An npm package that provides a Promise based interface for
                performing polling operations.
            </p>
        </ProjectCard>
        <ProjectCard name="PicMo" url="https://www.npmjs.com/package/picmo">
            <p>
                A vanilla JavaScript emoji picker component. No longer
                maintained.
            </p>
            <Image
                src={picmoImage}
                class="hidden sm:block w-64"
                alt="PicMo screenshot"
            />
        </ProjectCard>
        <ProjectCard
            name="Build a Toast Notification System With Svelte"
            url="https://www.educative.io/projects/build-a-toast-notification-system-with-svelte"
        >
            <p>
                A guided project series on building a basic toast notification
                system in a Svelte application. Published by Educative.
            </p>
            <Image
                src={svelteToastImage}
                class="hidden sm:block w-64"
                alt="Svelte Toast logo"
            />
        </ProjectCard>
    </div>
</MainLayout>
