---
import { Icon } from 'astro-icon/components';

interface Props {
    article: {
        title: string;
        publishedDate: string;
        url: string;
        publication: string;
        description: string;
        tags: string[];
        featured?: boolean;
        icon: string;
    };
}

const { article } = Astro.props;
const publishedDate = new Date(article.publishedDate);
const formattedPublishedDate = new Intl.DateTimeFormat(undefined, {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    timeZone: 'UTC'
}).format(publishedDate);
---

<article class="flex flex-col gap-2 items-start border border-slate-300 bg-white rounded-lg p-4">
    <div class="py-2 flex flex-col gap-2">
        <h2 class="text-2xl md:text-3xl font-serif">
            <a
                href={article.url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-indigo-600 hover:underline">{article.title}</a
            >
        </h2>
        <div
            class="flex items-start md:flex-row md:items-center gap-2 uppercase tracking-wider font-semibold text-slate-500 text-sm flex-col"
        >
            <span>{formattedPublishedDate}</span>
            <span class="hidden md:block">|</span>
            <span class="flex items-center gap-1">
                {article.icon && <img src={`/article-icons/${article.icon}`} alt={article.publication} class="inline-block w-4 h-4 mr-1" />}
                {article.publication}
            </span>
        </div>
    </div>
    <p class="text-lg text-slate-700">{article.description}</p>
    <a
        href={article.url}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 text-indigo-600"
    >
        Read more
        <Icon name="fa7-solid:arrow-right" />
    </a>
</article>
