---
const { book } = Astro.props;
---

<article
    class="book-item flex flex-col md:flex-row gap-8 items-start border border-slate-200 bg-white rounded-lg p-8"
>
    <a href={`/books/${book.id}`} class="p-8 bg-slate-100 border border-slate-200 rounded-lg md:mx-0 mx-auto shrink-0">
        <img class="w-32" src={book.data.cover} />
    </a>
    <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-serif">
            <a href={`/books/${book.id}`} class="text-indigo-600"
                >{book.data.title}</a
            >
        </h2>
        <p class="text-sm text-gray-600 uppercase tracking-wider font-semibold">
            {book.data.publisher}, {book.data.year}
        </p>
        <p>
            {book.data.summary}
        </p>
    </div>
</article>

<style>
    .book-item:hover .book-link {
        background: transparent;
        border-color: transparent;
    }

    .book-item img {
        transition: transform 0.5s ease;
    }

    .book-item:hover img {
        transform: scale(1.1);
    }
</style>