---
import { ViewTransitions } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
const permalink = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Joe Attardi's Blog"
            href="/rss.xml"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={permalink} />
        <meta property="og:title" content={title ? `${title} | Joe Attardi` : 'Joe Attardi'} />
        <meta property="og:image" content="https://joeattardi.com/og.png" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={permalink} />
        <meta property="twitter:title" content={title ? `${title} | Joe Attardi` : 'Joe Attardi'} />
        <meta property="twitter:image" content="https://joeattardi.com/og.png" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <title>{title ? `${title} | Joe Attardi` : 'Joe Attardi'}</title>
        <ViewTransitions />
        <script is:inline>
            const themePreference = sessionStorage.getItem('theme');
            const isDarkMode =
                themePreference === 'dark' ||
                (themePreference == null &&
                    window.matchMedia('(prefers-color-scheme: dark').matches);
            document.documentElement.classList.toggle('dark', isDarkMode);

            document.addEventListener('astro:after-swap', () => {
                const themePreference = sessionStorage.getItem('theme');
                const isDarkMode =
                    themePreference === 'dark' ||
                    (themePreference == null &&
                        window.matchMedia('(prefers-color-scheme: dark')
                            .matches);
                document.documentElement.classList.toggle('dark', isDarkMode);
            });
        </script>
    </head>
    <body class="dark:bg-black text-neutral-950 dark:text-neutral-200 transition-colors">
        <div class="layout">
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style>
    .layout {
        min-height: 100vh;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }
</style>
